body 
{

	/* BACKGROUND */
	/* Set the background to fill the entire screen */
 	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
   	overflow: auto;
	background-color: black;
	/* END OF TODO */
	/* TEXT */
	text-align: center;
	color: white;
	font-family: Courier;	/* default text */
	/* IMAGE */
	background-image: url("res/main-background.jpg");
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: center top;
	width: 100%;
	/* background-position: center; */
}
/*  FONTS */
h.pageTitle {
	font-family: Courier;
}
label {
	font-family: Courier;
}
.button
{

	/* Size */
	height: 4%;
	width: 5%;
	/* Text */
	text-align: center;
	color: white;
	/* Border */
	background: none;
	border-color: grey;
}
.icon {
	height: 40px;
	width: 40px;
}
.mainTab {					/* The page navigator tab */
	height:5%
}
.title 						/* The page title */
{
	height: 20%;
	/*
		Set the text to the middle
		of the title section.
	*/
	line-height: 100%;
	font-size: 500%;
}

/* BLOG CONTENT */
.blogPost					/* The entire blog container */
{
	/* Border */
	border-style: solid;
	border-color:  #1a5276;
	width: 80;
	/* Text */
	text-align: left;
	margin: 20px;
}
.blogTitle 					/* The title of the post*/
{

}
.blogAuthor					/* The author of the post */
{
}
a.blogData					/* Information about the blog post */
{
	font-family: System, Consolas, Terminal;
	font-weight: normal;
}
.blogContent				/* The text of the blog */
{
}
hr.blog {					/* The blog divider */
	border-style: solid;
	color: #1a5276;
}


/* LOGIN */
.login 						/* The login formulary */
{
	
}

a.author {					/* The text that displays who's this page daddy */
	font-weight: bold;
	position: absolute;
	left: 85%;
	top: 95%;
}
